.cont_bodyUser{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color:  rgb(214, 214, 214);
}
.cont_Buttons{
    width: 80%;
    background-color: rgb(243, 243, 243);
    border-color: 1px solid white;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgba(10, 10, 10, 0.178);
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 6rem;
}
.cont_QR{
    width: 51%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-color: 1px solid white;
    border-radius: 20px;
    box-shadow: 10px 5px 10px rgba(10, 10, 10, 0.178);
}

.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #33a4e6;
    background-color: #33a4e6;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #33a4e6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #33a4e6;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #33a4e6;
  }
  
  .button:active {
    border: 1px solid #33a4e6;
  }
/*pantallas pequeñas y tablets*/
@media (min-width: 400px )and ( max-width: 1299px){
    .cont_Buttons{
        width: 60%;
        display:  flex;
        flex-direction: column;
    }
    .cont_QR{
    flex-direction: row;
    }
    .cont_table{
    
      width: 80%;
     }
     .Table{
      
      width: 100%;
     }
  
}

/*monitor grande*/
@media (min-width: 1300px){
    .cont_Buttons{
        width: 50%;
        display:  flex;
        flex-direction: column;
    }
   .cont_table{
    
    width: 80%;
   }
   .Table{
    
    width: 100%;
   }
}