@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.inputGlobal{
    width: 100%;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    background-color: #DADADA;
    text-align: center;
    color: #757575;
    transition: all 80ms;
    border: none;
    outline: none;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
}
.inputGlobal:focus{
background-color: rgb(255, 255, 255);
border: 2px solid #418d99;
outline: none;

}

.buttonPrincipalGlobal{
    width: 65%;
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #1E9DE0;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 15px;
}
.buttonPrincipalGlobal:hover{
    background-color: #161616;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.buttonPrincipalGlobal:active {
    transform: translateY(-1px);
  }


  .containerInputLabel{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-bottom: 30px;
  }
  
  .labelInput{
    font-size: 18px;
    font-weight: bold;
    color: #222222;
  }


  
  /*tablas*/
  .table_container{
    width: 100%;
    overflow-x: auto;
  }


.table {
  border-collapse: collapse;
  width: 85%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.table thead {
  background-color: #418d99; /* Color de fondo del encabezado */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.table th,
.table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

.table th:first-child,
.table td:first-child {
  border-top-left-radius: 8px;
}

.table th:last-child,
.table td:last-child {
  border-top-right-radius: 8px;
}

.table tbody tr:last-child td:first-child,
.table tbody tr:last-child td:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
