@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*-------------------------------------> PHONE  */

.left-panel{
    display: none;
}
.table_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ECECEC;
}

h1{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #2D2D2D;
}
.panel_laterl{
    display: none;
}
.panel_derecho{
    width: 100%;
}

.titleForm{
    margin: 40px;
}

.table_container{
    display: none;
  }

  .formSecundarioBTN{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #ECECEC;
   
    height: 100vh;
  }
  

/*-------------------------------------------------------responsibe*/
@media (min-width: 1000px)  { /*vista de lapto*/

   .formSecundarioBTN{
    display: none;
   }
    body {
        margin: 0;
        padding: 0;
        overflow: hidden;
/*        user-select: none;*/
    }
    /*panel izquierdo*/
    .left-panel {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        background-color: #1E9DE0;
        overflow: hidden;
        box-shadow: 100px 0 1px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: center;
        align-content: start;
        justify-content: start;
    }
    
    .logo{
        width: 180px;
        margin-top: 20px;
    }
    .contTitleLeft{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: start;
        justify-content: start;
        transition: all 0.3s;
        padding: 8px;
        width: 200px;
      
        border-radius: 10px;
    }

    .labelPanelLeft{
        color: white;
        font-weight: lighter;
   
    }
    .line{
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin-top: 10px;
    }
    
    /*panel form*/
    .right-panel {
        position: absolute;
        top: 0;
        right: 0;
        left: 300px;
        height: 100%;
        background-color: #ECECEC;
        overflow: auto;
        align-items: center;
        justify-content: center;
        align-content: center;
      
    }
    
    .right-panel-content {
        max-width: 1000px;
        margin: 0 auto;
        
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

    }
    
   .table_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    
        align-content: center;
        justify-content: center;
        
      }
 

   
      .contentImage{
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: end;
        width: 100%;
       
      }
      .imagen{
        width: 350px;
      }
.contMenu{
    margin-top: 20px;
}
      .optionBtn{
        width: 180px;
        margin: 5px 0px 0px 0px;
        padding: 10px;
      
        text-align: center;
        font-weight:lighter;
        transition: all 0.3s;
      }
      .optionBtn:hover{
        background-color: rgba(255, 255, 255, 0.308);
        border-radius: 10px;
        cursor: pointer;
        scale: 1.1;
      }
      .txtBTN{
        cursor: pointer;
        color: white;
        font-weight: lighter;
      }

    

}