@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

#headerLogin{
    background-color: #418d99;
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}
  #titleLogin{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin: 40px;
  }
  #logoLogin{
    height: 55px;
  }
.cont_login{
    background-color: #ECECEC;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    
}
.cont_inputs{
    
    margin-top: 30px;
}

.buttonPrincipalGlobal_Login{
    width: 100%;
    padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #1E9DE0;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}
.buttonPrincipalGlobal_Login:hover{
    background-color: #161616;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.buttonPrincipalGlobal_Login:active {
    transform: translateY(-1px);
  }

  .inputGlobalLogin{
    width: 100%;
    text-decoration: none;
    border-radius: 10px;
    font-size: 17px;
    padding: 10px 0px 10px 0px;
    background-color: #DADADA;
    text-align: center;
    color: #757575;
    transition: all 80ms;
    border: none;
    outline: none;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
}
.inputGlobalLogin:focus{
background-color: rgb(255, 255, 255);
border: 2px solid #418d99;
outline: none;

}