
/*/////////////////////////////////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


#body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #d6d6d6;
}
#image{
  display: none;
}
#contentHeader{
  margin: 30px;

}
#Logo{
 fill: black;
}
#IconoLoginForm{
  width: 100px;
}

#contenedor_form {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  background: none;
 
}

#contenedor_Menu_top {
  width: 100%;
  height: auto;
  margin: 25px;
  display: flex;
  justify-content: flex-end;
  /* Alinear elementos a la derecha */
  align-items: center;
  /* Opcional: alinear verticalmente los elementos */
  margin-right: 5rem;
}

#Option {
  display: inline-block;
  padding: 10px 10px;
  cursor: pointer;
  transition: all 0.3s;
}

#Option p {
  margin: 0;
}

#Option:hover {
  background-color: rgba(0, 0, 0, 0.096);
  border-radius: 10px;
}

#Option:active {
  scale: 0.9;
}

#IconoLoginForm {
  width: 100px;
  margin: 20px;
  margin-bottom: 40px;
}

#TitleLogin {
  font-family: 'Inter', sans-serif;
  color: #333333;
  font-weight: 300;
  /* Peso de la fuente "Light" */
}

#inpt_Login {
  width: 50%;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
  height: 40px;
  margin: 10px;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
  outline: none;
  color: #181818;
  transition: all 0.3s;
}

#inpt_Login:focus {
  background-color: #c4c4c4;
  color: #000000;
  outline: auto;
  outline-color: #222;

}

#inpt_Login:active {
  scale: 1.05;

}


.buttonLogin {
  width: 56%;
  color: white;
  background-color: #222;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  margin: 10px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.buttonLogin:hover {
  background-color: #5f5f5f;
  color: rgb(0, 0, 0);
}

.buttonLogin:active {
  scale: 0.95;
}



/* Estilos para dispositivos grandes (más de 992px) */
@media (min-width: 993px) {

  #body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(135deg, #172527 0%, #418d99 100%);
  }
  
  #contenedor_img {
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  
    background-blend-mode: normal;
  }
  
  #contentHeader {
  
    width: 100%;
    padding: 25px;
    padding-left: 70px;
  }
  
  #image {
    display:flex;
    height: 75vh;
  }
  
  #contenedor_form {
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background: #d6d6d6;
    box-shadow: 17px 4px 50px rgba(0, 0, 0, 0.91);
  }
  
  #contenedor_Menu_top {
    width: 100%;
    height: auto;
    margin: 25px;
    display: flex;
    justify-content: flex-end;
    /* Alinear elementos a la derecha */
    align-items: center;
    /* Opcional: alinear verticalmente los elementos */
    margin-right: 5rem;
  }
  
  #Option {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  #Option p {
    margin: 0;
  }
  
  #Option:hover {
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 10px;
  }
  
  #Option:active {
    scale: 0.9;
  }
  
  #IconoLoginForm {
    width: 100px;
    margin: 20px;
    margin-bottom: 40px;
  }
  
  #TitleLogin {
    font-family: 'Inter', sans-serif;
    color: #333333;
    font-weight: 300;
    /* Peso de la fuente "Light" */
  }
  
  #inpt_Login {
    width: 50%;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    height: 40px;
    margin: 10px;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25, .01, .25, 1) 0s, color .3s cubic-bezier(.25, .01, .25, 1) 0s, background .2s cubic-bezier(.25, .01, .25, 1) 0s;
    outline: none;
    color: #181818;
    transition: all 0.3s;
  }
  
  #inpt_Login:focus {
    background-color: #c4c4c4;
    color: #000000;
    outline: auto;
    outline-color: #222;
  
  }
  
  #inpt_Login:active {
    scale: 1.05;
  
  }
  
  
  .buttonLogin {
    width: 56%;
    color: white;
    background-color: #222;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    margin: 10px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .buttonLogin:hover {
    background-color: #5f5f5f;
    color: rgb(0, 0, 0);
  }
  
  .buttonLogin:active {
    scale: 0.95;
  }
}