.containerMenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 4rem;
    background-color: #343541;
    margin-top: 4.5rem;
    

}

.Option{
    width: 100%;
    height: 4rem;
    background-color: #343541;
    position: relative;
    cursor: pointer;
    margin-top: 2px;
    transition: 300ms ease-in-out;
    border-bottom: 1px solid #505163;
}
.Option:hover{
    scale: 1;
    background-color: #5c5d75;
    border-radius: 15px;
}
.icon{
  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 25px; /* ajusta el ancho según tus necesidades */
    transition: 300ms ease-in-out;
}

.Option:hover .icon{
    scale: 1.2;
}


@media (max-height: 607px) {
    .containerMenu{

    }
}
@media (max-width: 900px) {
    .containerMenu{
display: none;
    }
}