.containerBody_PsicoForm {
    background-color: #ffffff70;
/*
background-color: #47b4f7;
background-image: linear-gradient(122deg, #47b4f7 0%, #9074e0 100%);
*/
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.containerFormulario_PsicoForm {
    
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 70%;
    padding: 20px;
    margin-top: 80px;
 
}

.Formulario_PsicoForm {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 85%;
    border-radius: 20px;
    transition: all 0.4s;
    box-shadow: 8px 8px 10px #00000038;
}

.containerTitleFormulario_PsicoForm {
    background-color: #47b4f7;
background-image: linear-gradient(122deg, #47b4f7 0%, #9074e0 100%);
box-shadow: 0px 5px 8px #0c0c0c3f;
    width: 100%;
text-align: center;

    
   border-radius: 20px 20px 0px 0px;
   margin-bottom: 30px;
   padding-top: 15px;
}


.imageLateral {
    display: none;
}

/*COMPONENTES */


.title-form {
    font-family: 'Rubik', sans-serif;
    color: #1f1f1f;
    margin-top: 0;
    font: bold;
}



.inputsPsico {
    background-color: #47b4f72a;
    border: 1px solid #00000054;
    font-size: 15px;
    width: 60%;
    height: 2rem;
    border-radius: 6px;
    text-decoration-line: none;
    color: #474747;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    text-align: center;
    
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    margin: 5px;
    margin-bottom: 1rem;

}

.inputsPsico:focus {
    outline-color: #00807B;

    border: none;
    scale: 1.1;

}

.check {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: #12b35a;
    border-radius: 6px;
    width: 60%;
    height: 3rem;
    font-size: 15px;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.4s ease-in-out;
    color: white;
}

.btn:hover {

    color: white;
    scale: 1.1;
}


.btn-Volver {
    background-color: #ec2222;
    border-radius: 6px;
    width: 60%;
    height: 3rem;
    font-size: 15px;
    margin-top: 0;
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.4s ease-in-out;
    color: white;
}

.btn-Volver:hover {

    color: white;
    scale: 1.1;
}



@media (min-width: 1200px) and (max-width: 1350px) {

    /*form div*/
    .containerBody_PsicoForm {
       
    
    background-color: #47b4f7;
    background-image: linear-gradient(122deg, #47b4f7 0%, #9074e0 100%);
    padding-left: 2%;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        justify-content: center;
    }
.containerFormulario_PsicoForm {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width:80%;
    padding: 20px;
    margin-top: 80px;
    border-radius: 20px;
}
    .Formulario_PsicoForm {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 70%;
        border-radius: 20px;
        box-shadow: 8px 8px 10px #00000000;
    }
    .Formulario_PsicoForm:active{
        scale: 1;
        }
    .containerTitleFormulario_PsicoForm {
        background-color: white;
        background-image: none;
        box-shadow: 0px 0px 0px #ffffff00;
    }
    .imageLateral {
        display: flex;
        width: 30vw;
        margin: 60px;
        transition: transform 0.5s ease;
        cursor: pointer;
    }
    .inputsPsico {
        background-color: #47b6ff25;
        border: 1px solid #00000054;
        font-size: 15px;
        width: 60%;
        height: 2rem;
        border-radius: 6px;
        text-decoration-line: none;
        color: #474747;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
        text-align: center;
        
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        margin: 5px;
        margin-bottom: 1rem;
    
    }
    .btn {
        width: 60%;
        transition: all 0.4s ease-in-out;
    }
    .btn-Volver {
        width: 60%;
        transition: all 0.4s ease-in-out;
    }
}

@media (min-width: 1351px)  {

    /*form div*/
    /*form div*/
    .containerBody_PsicoForm {
        background-color: #00DBDE;
        background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
         
        padding-left: 2%;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            align-content: center;
            flex-direction: column;
            justify-content: center;
        }
.containerFormulario_PsicoForm {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width:auto;
    padding: 20px;
    
    border-radius: 20px;
    box-shadow: 20px 20px 30px #0303031e;
}
    .Formulario_PsicoForm {
        display: flex;
        align-items: center;
        align-content: center;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: auto;
        border-radius: 20px;
        box-shadow: 0px 0px 0px #ffffff00;
        margin-left: 2rem;
        margin-right: 4rem;
    }
    .Formulario_PsicoForm:active{
        scale: 1;
        }
        .containerTitleFormulario_PsicoForm {
            background-color: white;
            background-image: none;
            box-shadow: 0px 0px 0px #ffffff00;
        }
    .imageLateral {
        display: flex;
        width: 20vw;
        margin: 30px;
        border-radius: 0%;
        transition: transform 0.5s ease;
        cursor: pointer;
    }
    .imageLateral:hover{
        transform: scale(1.2) rotate(30deg);
    }
    .inputsPsico {
        background-color: #47b6ff25;
        border: 1px solid #00000054;
        font-size: 15px;
        width: 20rem;
        height: 2rem;
        border-radius: 6px;
        text-decoration-line: none;
        color: #474747;
        font-family: 'Rubik', sans-serif;
        text-decoration: none;
        text-align: center;
       
        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
        margin: 5px;
        margin-bottom: 1rem;
    
    }
    .btn {
        width: 20rem;
        transition: all 0.4s ease-in-out;

    }
    .btn-Volver {
        width: 20rem;
        transition: all 0.4s ease-in-out;
    }
}